<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<nav>
    <img src="../images/logo.png" width="120" height="60">
    <ul>
        <li class="header" style="margin-right: 425px;">ZEEBOK POLYCLINIC</li>
           <li><select onchange="location=this.value;" class="selectBox">
            <% if (User_logIn) {%>   
            <option hidden><%=User_logIn%></option>
            <% } %>
            <option value="/logout">LogOut</option>
            </select>
        </li>
    </ul>
</nav>

<div class="content">
        <div class="sidenav">
          <a href="dashboard">Dashboard</a>
          <a href="#">History</a>
        </div>
        <center>
            <h3 style="text-align: center;color:saddlebrown;font-weight: bold;">Change Password</h3><br>
            <% if (success) {%>
                <div style="text-align:center;font-size:medium;font-weight:bold;color: green;">
                    <%=success%>
                </div>
                <% } %>
                <% if (error) {%>
                <div style="text-align:center;font-size:medium;font-weight:bold;color: red;">
                    <%=error%>
                </div>
                <% } %> 
                <br>
        </center>
        <div class="password">
            <form id="form2" action="/changepassword" method="POST" onsubmit="validateChangePwdForm()">
            <label for="name">Enter Email Address Or Phone No</label>   
            <input required type="text" placeholder="Enter Email Address Or Phone No" name="emailphno" class="form-control">
            <label for="name">Enter New Password</label>
            <input required type="password" placeholder="Enter New Password" name="pwd" class="form-control">
            <label for="name">Retype Password</label>
            <input required type="password" placeholder="Retype Password" name="rpwd" class="form-control">
            
            <center><button type="submit">Confirm</button></center>
            </form>
            <br>
        </div>
    </div> 
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->